*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
}
body{
  background: #040924;
  font-family: 'Roboto',sans-serif;
  
}
h1,h2{
  font-size: 3.2rem;
  font-weight: 700;
}
.container{
  
  display: grid;
  place-content: center;
  height: 100vh;
  padding:0 2rem;
}
.card{
  background: #fff;
  padding:4.8rem 6.4rem 6.4rem;

  max-width: 42.8rem;
  margin-inline: auto;
  border-radius: .6rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
.card h1{
  color: #0C3440;
  line-height: 4rem;
  margin-bottom:3.2rem ;
}
.card form{
  display: flex;
  flex-direction: column;
}
.input-wrapper label{
  display: block;
  color: #00453A;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
}

.input-wrapper input{
  width:100%;
  border-radius: .4rem;
  border: 1px solid #02799D;
  padding: 1.6rem;
  background: #DCE2E9;
  color: #212529;
  font-family: 'Roboto',sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}
.input-wrapper + .input-wrapper{
  margin-top: 1.8rem;
}
.input-wrapper input:focus{
  outline: 2px solid #02799D;
}
.input-wrapper input::placeholder{
  color: #49505780;
}
form button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
  height: 5.2rem;
  padding: 1.6rem;
  border-radius: .4rem;
  background: #02799D;
  border:none;

  width:100%;

  margin-top: 3.2rem;

  font-family: 'Roboto',sans-serif;
  color:#fff;
  font-size:1.6rem;
  font-weight: 700;
  line-height: 2rem;
  cursor: pointer;
  transition: background .3s;
  
}

form button:hover{
  background: #035c78;
  
}
/*Modal*/
.modal-wrapper.open{
  opacity: 1;
  visibility: visible;
}
.modal-wrapper{
  position: absolute;
  inset: 0;
  background:#000000B2;
  display: grid;
  place-content: center;
  opacity: 0;
  visibility: hidden;
}
.modal{
  position: relative;
}
.modal button{
  background:none;
  border:none;

  position: absolute;
  top:1.6rem;
  right:1.6rem;
  cursor: pointer;
  transition: transform .3s;
}
.modal button:hover{
  transform: scale(1.1);
}
/*Alert bar*/
.alert-error.open{
  opacity: 1;
  visibility: visible;
  animation: slide-bar-open .7s;
}
.alert-error{
  padding: .8rem 0;
  text-align: center;
  background: #F03E3E;
  position: absolute;
  top:0;
  width: 100%;

  font-family: 'Reboto',sans-serif;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem; 
  
  opacity: 0;
  visibility: hidden;
}
@keyframes slide-bar-open {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0%);
  }

}
/*Responsiveness*/
@media (min-width: 467px){
  form{
    width: 30rem;
  }
}
